<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Siyang's page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link type="text/css" rel="stylesheet" href="/css/main.css">
    <link type="text/css" rel="stylesheet" href="/css/ihover.css">
    <link type="text/css" rel="stylesheet" href="/css/hover.css">

  </head>
  <body>
<!--******************************  put your code between ********************************-->
    <div id="facebook" class="contactBlock">
      <a href="https://www.facebook.com/profile.php?id=100007578734168">
        <button class="contactButton btn btn-primary hvr-buzz" id="facebookButton">Facebook</button>
      </a>
    </div>
    <div id="linkedin" class="contactBlock">
      <a href="https://www.linkedin.com/profile/view?id=AAIAABqlAnEBHICvuIBQjIbebLwhHY_uFdf47kw&trk=nav_responsive_tab_profile_pic">
        <button class="contactButton btn btn-info hvr-buzz" id="linkedinButton">LinkedIn</button>
      </a>
    </div>
    <div id="email" class="contactBlock">
      <a href="mailto:kern_zhao@126.com">
        <button class="contactButton btn btn-danger hvr-buzz" id="emailButton">Email</button>
      </a>
    </div>
    <div id="wechat" class="contactBlock">
        <button class="contactButton btn btn-success hvr-buzz" id="wechatButton">wechat</button>
    </div>
    <div id="backButton">
    <a href="/" class="hvr-float-shadow">
      <button class="btn btn-info btn-lg">
        <span class="glyphicon glyphicon-hand-left"></span>BACK
      </button>
    </a>
  </div>
<!--******************************  put your code between ********************************-->  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="/js/helper.js"></script>
    <script type="text/javascript" src="/js/jquery-showpassword.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="/js/jquery-burn.js"></script>
    <script src="/js/main.js"></script>
    
    

  </body>
</html>