<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Education</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link type="text/css" rel="stylesheet" href="/css/main.css">
    <link type="text/css" rel="stylesheet" href="/css/ihover.css">
    <link type="text/css" rel="stylesheet" href="/css/hover.css">


  </head>
  <body>
<!--******************************  put your code between ********************************-->
	<div class="btn-group-vertical" role="group" aria-label="..." id="four_uni">
		<button class="btn btn-lg btn-danger button hvr-wobble-horizontal fourButton" id="btnZJU">Zhejiang University</button>
		<button class="btn btn-lg btn-danger button hvr-wobble-horizontal fourButton" id="btnUWA">University of Western Australia</button>
		<button class="btn btn-lg btn-danger button hvr-wobble-horizontal fourButton" id="btnUCD">University of California Davis</button>
		<button class="btn btn-lg btn-danger button hvr-wobble-horizontal fourButton" id="btnUofT">University of Toronto</button>
	</div>

	<div id="ZJU" class="UniContainer">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-4">
					<h1 id="print1-1">Zhejiang University</h1>
					<p id="print1-2">Hangzhou, China</p>
					<p id="print1-3">Sep 2011 - Jun 2015</p>
					<h4 id="print1-4">Bachelor of Engineering</h4>
					<h4 id="print1-5">Electrical Engineering</h4>
					<h4 id="print1-6">Overall GPA: 3.77</h4>
				</div>
				<div class="col-xs-8">
					<h3 id="print1-9">1. Selected for Chu Ko Chen Honours College (account for 5%) and graduated with honour degree </h3>
					<h3 id="print1-10">2. Awards: </h3>
					<h4 id="print1-11">Best Thesis/Design (Zhejiang University)(2015)</h4>
					<p id="print1-12">Award for top 5% thesis/design</p>
					<p id="print1-13">Topic: Research on Multi-channel Payment System for Vending Machines</p>
					<h4 id="print1-14">2nd Class Merit Student Scholarship (Zhejiang University)(2013)</h4>
					<p id="print1-15">Scholarship for top 15% students in terms of overall quality</p>
					<h4 id="print1-16">2nd Class Academic Scholarship (Zhejiang University)(2013)</h4>
					<p id="print1-17">Scholarship for top 15% student in terms of academic achievement</p>
					<h4 id="print1-18">3rd Class Award in Math Modeling Competition (Zhejiang University)(2013)</h4>
					<p id="print1-19">leader of a group of three</p>
					<h4 id="print1-20">3rd Class Academic Scholarship (Zhejiang University)(2012 and 2014)</h4>
					<p id="print1-21">Scholarship for top 30% student in terms of academic achievement</p>
				</div>
			</div>
		</div>
	</div>
	<div id="UWA" class="UniContainer">
		<div class="container">
			<div class="row">
				<div class="col-xs-4">
					<h1 id="print2-1">University of Western Australia</h1>
					<p id="print2-2">Perth, Australia</p>
					<p id="print2-3">Jul 2014 - Nov 2014</p>
					<h4 id="print2-4">Exchange Program</h4>
					<h4 id="print2-5">Engineering</h4>
					<h4 id="print2-6">Overall GPA: 85/100</h4>
				</div>
				<div class="col-xs-7">
					<h3 id="print2-8">1. One semester exchange program</h3>
					<h3 id="print2-9">2. taken 4 courses</h3>
					<h3 id="print2-10">3. Relavant courses: </h3>
					<p id="print2-11">Introduction to Database (80/100)</p>
					<p id="print2-12">Digital and Embedded Systems (88/100)</p>
				</div>
			</div>
		</div>
	</div>
	<div id="UCD" class="UniContainer">
		<div class="container">
			<div class="row">
				<div class="col-xs-4">
					<h1 id="print3-1">University of California, Davis</h1>
					<p id="print3-2">Davis, California, USA</p>
					<p id="print3-3">Jan 2014 - Feb 2014</p>
				</div>
				<div class="col-xs-8">
					<h3 id="print3-4">3-week winter program</h3>
				</div>
			</div>
		</div>
	</div>
	<div id="UofT" class="UniContainer">
		<div class="container">
			<div class="row">
				<div class="col-xs-4">
					<h1 id="print4-1">Unviversity of Toronto</h1>
					<p id="print4-2">Toronto, Canada</p>
					<p id="print4-3">Sep 2015 - Present</p>
					<h4 id="print4-4">Master of Engineering</h4>
					<h4 id="print4-5">Computer Engineering</h4>
				</div>
				<div class="col-xs-8">
				</div>
			</div>
		</div>
	</div>
	
	<div id="backButton">
		<a href="/" class="hvr-float-shadow">
			<button class="btn btn-info btn-lg">
				<span class="glyphicon glyphicon-hand-left"></span>BACK
			</button>
		</a>
	</div>

<!--******************************  put your code between ********************************-->  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="/js/helper.js"></script>
    <script type="text/javascript" src="/js/jquery-showpassword.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="/js/jquery-burn.js"></script>
    <script src="/js/typewriting.js"></script>
    <script src="/js/main.js"></script>
    
    

  </body>
</html>