<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Siyang's page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link type="text/css" rel="stylesheet" href="/css/main.css">
    <link type="text/css" rel="stylesheet" href="/css/ihover.css">
    <link type="text/css" rel="stylesheet" href="/css/hover.css">

  </head>
  <body>
<!--******************************  put your code between ********************************-->
    <div id="work1" class="workExperienceBlock">
      <h2>1. University of Toronto</h2>
      <h4>Teaching Assistant</h4>
      <h4>Jan 2016 - Present</h4>
      <p>Teaching CSC108 Introduction to Computer Programming</p>
    </div>
    <div id="work2" class="workExperienceBlock">
      <h2>2. Shanghai Electric</h2>
      <h4>Intern Student</h4>
      <h4>Jun 2014</h4>
      <p>Made my first electric machine in a week</p>
      <p>Got overall knowledge about how this industry works by attending several lectures and attending factory field trips</p>
    </div>
    <div id="work3" class="workExperienceBlock">
      <h2>3. Self-Employed</h2>
      <h4>Tutor</h4>
      <p>Tutored at least 10 undergraduate students programming (C and Python)</p>
    </div>
    <div id="backButtonInWork">
      <a href="/" class="hvr-float-shadow">
        <button class="btn btn-info btn-lg">
          <span class="glyphicon glyphicon-hand-left"></span>BACK
        </button>
      </a>
    </div>
<!--******************************  put your code between ********************************-->  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="/js/helper.js"></script>
    <script type="text/javascript" src="/js/jquery-showpassword.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="/js/jquery-burn.js"></script>
    <script src="/js/main.js"></script>
    
    

  </body>
</html>